.page{
    display: none;
}

.tabs{
    background-color: black !important;
}

.tabs .tab a,
.tabs .tab a:hover{
    color: white !important;
}

.tabs .tab a:focus, .tabs .tab a:focus.active{
    background-color: transparent;
}
.tabs .indicator {
    background-color: white !important;
}

.secondary-content {
    float: right;
    color: black !important;
    font-weight: bold;
    cursor: default;
}

.collection{
    background-color: white !important;
}

#jegyek .card {
    color: black !important;
}

.collapsible,
.active{
    border: 0px !important;
}

.collapsible-body{
    background-color: #eeeeee;
}