<div id="beallitasok" class="page row container">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          Windows beállítások
        </div>
        <div class="row">
          <div class="input-field col s12">
            <p>
              <label>
                <input type="checkbox" id="startup" name="startup" />
                <span>Indítás a rendszerrel</span>
              </label>
            </p>

            <p>
              <label>
                <input
                  type="checkbox"
                  id="notifications"
                  name="notifications"
                />
                <span>Értesítések</span>
              </label>
            </p>

            <p>
              <label>
                <input type="checkbox" id="totray" name="totray" />
                <span>A bezárás csak a tálcára helyezi az alkalmazást</span>
              </label>
            </p>
          </div>
        </div>
        Ezek a funkciók még tesztelés alatt állnak!
      </div>
    </div>
  </div>
</div>
