<div id="fooldal" class="page row container">
    <div class="col s12 m4">
        <ul class="collection with-header" id="fooldalGrades">
            <li class="collection-header">
                <h4>Legutóbbi értékelések</h4>
            </li>
        </ul>
    </div>
    <div class="col s12 m4">
        <ul class="collection with-header" id="fooldalNotes">
            <li class="collection-header">
                <h4>Feljegyzések</h4>
            </li>
        </ul>
    </div>
</div>