<!DOCTYPE html>
<HTML>

<HEAD>
    <title>eSzivacs</title>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self'" />
    <link href="fonts/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/frame.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
</HEAD>

<BODY>
    <% include frame.ejs %>
    <div id="shell">
        <% include navbar.ejs %>
        <% include login.ejs %>
        <% include fooldal.ejs %>
        <% include jegyek.ejs %>
        <% include hianyzasok.ejs %>
        <% include orarend.ejs %>
        <% include beallitasok.ejs %>
    </div>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/manager.js"></script>
</BODY>

</HTML>