<div id="navbar">
    <nav class="black">
        <div class="nav-wrapper">
            <div class="container">
                <a href="#!" class="brand-logo">eSzivacs</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="fooldal sidenav-close"><a href="#">Főoldal</a></li>
                    <li class="jegyek sidenav-close"><a href="#">Jegyeim</a></li>
                    <li class="hianyzasok sidenav-close"><a href="#">Hiányzásaim</a></li>
                    <li class="updateMyDatas sidenav-close"><a href="#">Adatok frissítése</a></li>
                    <li class="logout sidenav-close"><a href="#">Kijelentkezés</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li class="fooldal sidenav-close"><a href="#">Főoldal</a></li>
        <li class="jegyek sidenav-close"><a href="#">Jegyeim</a></li>
        <li class="hianyzasok sidenav-close"><a href="#">Hiányzásaim</a></li>
        <li class="updateMyDatas sidenav-close"><a href="#">Adatok frissítése</a></li>
        <li class="logout sidenav-close"><a href="#">Kijelentkezés</a></li>
    </ul>
</div>