<div id="orarend" class="page row">
    <div class="black">
        <div id="timetableTop" class="container center-align white-text">
            <a href="#" class="timetableBack">
                <i class="material-icons">arrow_back</i></a> <span id="timetableDate">####. ##. ##. - ####. ##.
                ##.</span> <a href="#" class="timetableFw"><i class="material-icons">arrow_forward</i>
            </a>
        </div>

    </div>
    <div class="timetableTab">
        <div class="black">
            <div class="container">
                <ul class="tabs no-autoinit">
                    <li class="tab col s-one-fifth"><a id="orarend-1" href="#hetfo">Hétfő</a></li>
                    <li class="tab col s-one-fifth"><a id="orarend-2" href="#kedd">Kedd</a></li>
                    <li class="tab col s-one-fifth"><a id="orarend-3" href="#szerda">Szerda</a></li>
                    <li class="tab col s-one-fifth"><a id="orarend-4" href="#csutortok">Csütörtök</a></li>
                    <li class="tab col s-one-fifth"><a id="orarend-5" href="#pentek">Péntek</a></li>
                </ul>
            </div>
        </div>
        <div class="container" id="timetables">
            <div id="hetfo" class="col s12">
                <ul class="collapsible" id="classes-1"></ul>
            </div>
            <div id="kedd" class="col s12">
                <ul class="collapsible" id="classes-2"></ul>
            </div>
            <div id="szerda" class="col s12">
                <ul class="collapsible" id="classes-3"></ul>
            </div>
            <div id="csutortok" class="col s12">
                <ul class="collapsible" id="classes-4"></ul>
            </div>
            <div id="pentek" class="col s12">
                <ul class="collapsible" id="classes-5"></ul>
            </div>
        </div>
    </div>
</div>